#AjaxLoading {
	display: none;
}

body {
	margin: 0 auto;
	background-color: #FAFAFA;
	font-family: TrebuchetMS;
}

#Menu {
	padding-top: 50px;
}

ul li{
	list-style: none;
	a {
		text-decoration: none;
		color: #990000;
	}
}

.QuickViewBtn {
	position: absolute;
	font-size: 14px;
}

.FeedLink.FloatRight {
	display: none;
}

[data-ur-set="carousel"] {
  overflow: hidden !important;
  position: relative !important;
}

[data-ur-carousel-component="item"] {
  float: left !important;
}

.BlockContent {
.ProductDetails, .ProductPriceRating, .ProductActionAdd {
	height: auto !important;
	text-align: center !important;
}
}

.Previous, .Next {
	display: block;
	margin-top: -1px;
	text-align: center;
	font-size: 17px;
	padding-right: 10px;
	color: #852201;
	&:hover {
		color: #FF5C33;
	}
}

.Next {
	float: right;
}

.Previous {
	float: left;
margin: 0 auto;
padding-left: 10px;
}

hr {
	display: none;
}

.ProductImage {
	margin: 0 auto;
	height: auto !important;
}

#HomeFeaturedProducts h2 {
	margin-bottom: 0px;
}

.Odd, .Even {
	height: auto;
}

[data-ur-carousel-component="dots"] {
	display: none;
}

h2 {
	margin-left: 10px;
} 

ul li img {
	display: block;
	margin: auto;
}

div.TopSellerNumber {
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
	color: #FF1919;
	-webkit-text-fill-color: #FF1919;
	-webkit-text-stroke: 0.7px #990000;
}

#SideTopSellers h2 {
	margin-bottom: 0;
}

#SideCategoryList {
	margin-bottom: -50px !important;
}